.container{
    max-width: 660px;
    margin: 0 auto;
    background-color: #ccc !important;
    padding: 20px;
    border-radius: 20px;
}
.policy{
    font-size: 50px;
    font-weight: bolder;
    color: #666;
    margin: 40px 0;
    letter-spacing: 3px;
    text-align: center;
}
.text-decoration-none{
    text-decoration: none;
}
.text-justify{
    text-align: justify;
}
.list-style{
   list-style: disc;
}
.list-style-none{
    list-style: none;
}